@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

/* the * means it affects all the elements inside the document */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
/* This is a custom variable in which we can reuse same properties in different elements */
:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color: #002240;
    --light-color:#f4f4f4;
}
body{
    font-family:'Lora', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    /* This will remove all the bullets or styles for the lists */
    list-style-type: none;
}

a{
    /* This will remove the underlines on the links */
    text-decoration: none;
    color: #333;
}

h1 , h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    /* This will make the images fit within their container */
    width: 100%;
}

/* Css Properties for the html code and pre snippets */
code, pre{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* NAVBAR */
.nav-bar{
    background-color:var(--primary-color);
    color: #fff;
    height: 70px;
}
/* The Navbar ul items will be displayed horizontally against each other */
.nav-bar ul{
    display: flex;
}
/* This applies to the individual links with the <a> tag */
.nav-bar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.nav-bar a:hover{
    /* When i hover on the navlinks, a white borderline will show up beneath them */
    border-bottom:1px #fff solid ;
}
/* if the nav-bar has a flex class, set it this way
this will create a space between the two items(spread each item across the document page */
.nav-bar .flex{
    justify-content: space-between;
}



/* SHOWCASE */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    /* if we want to position anything absolute we can */
    position: relative;
}
.showcase h1{
    font-size: 1.8rem;
    padding: 20px 0;
}
.showcase .grid{
    grid-template-columns: 55% 45%;
    grid-gap: 30px;
    /* This will remove the scrollbar and the form-item can be seen to go past its container */
    overflow: visible;
}
/* implementing Animation effect on this class */
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}
.showcase-form{
    position: relative;
    /* the form will be at a position of 80px on top */
    top: 80px;
    /* The height will make the item go past it's container which is something we want */
    height: 350px;
    width: 400px;
    padding: 40px;
    /* This will make sure that the form is always in front */
    z-index: 100;
    /* implementing Animation effect on this class */
    animation: slideInFromRight 1s ease-in;
}
/* Targets the form-control class in the form */
.showcase-form .form-control{
    margin: 30px; 
}
/* this will affect only the individual input tags in the form */
.showcase-form input[type=text], .showcase-form input[type=email]{
    /* Removes the border around an element */
    border: 0;
    border-bottom: 1px #333 solid;
    /* With width:100%, the input tags will go across the form */
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
/* This means that when the individual input elements have been clicked-on(focus),
the outline(small-borders) will be removed */
.showcase-form input:focus{
    outline:none;
}
.showcase-form h2{
    text-align:center ;
}
/* This property is to create a skewed line just right through the showcase-form
and the showcase-container */
.showcase::before, .showcase::after{
    content: '';
    /* this will be positioned absolute within the showcase */
    position: absolute;
    height: 100px;
    /* this will be below the showcase*/
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    
    /* This will make the border a bit slanted according to the degrees set */
    transform: skewY(-3deg);
    /* For the Transform area to work across the browsers, we have to specify them for each browser.
    Webkit is for Chrome, Safari, Torch */
    -webkit-transform: skewY(-3deg);
    /* For Mozilla browser */
    -moz-transform: skewY(-3deg);
    /* For Microsoft browser */
    -ms-transform: skewY(-3deg);
} 



/* STATS */
.stats{
    padding-top:100px;
    animation: slideInFromBottom 1s ease-in;
}
.stats .grid h3{
    font-size: 35px;
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}
/* .stats-heading{
    max-width: 500px;
    margin:auto;
} */



/* CLI */
.cli .grid{
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-areas:
    'cli-image cli-image card-1'
    'cli-image cli-image card-2'
    ; */
}
/* *:first-child means the first element inside the said class/element.
 In this case the child is <img> */
.cli .grid > *:first-child{
    /* the image element will span across the grid from column 1 to 2 */
    grid-column: 1 / span 2;
    /* the image element will span across the grid from row 1 to 2 */
    grid-row: 1 / span 2;
}
.cli .card{
    text-align: center;
}



/* CLOUD */
.cloud .grid{
    /* The  */
    grid-template-columns: 4fr 3fr;
}


/* LANGUAGES */
.languages .flex{
    /* The flex-wrap will ensure that the flex items wrap around their container, 
    whether the screen size is bigger or smaller */
    flex-wrap: wrap;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px ;
    /* This will add a smooth effect over the transformation when the cards are hovered over */
    transition: transform 0.2s ease-in;
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
/* This will ensure the images in the languages section are all of the same size and fit their containers */
.languages img{
    width: 100px;
    height: 100px;
}
.languages .card:hover{
    /* when the language cards are hovered upon they move upwards(translateY(-15px)) */
    transform: translateY(-15px);
}



/* FEATURES PAGE */
/* Features Head */
.features-head img{
    width: 300px;
    justify-self: flex-end;
}
/* Sub Head  */
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}
/* Features Main */
/* This affects the single icons in the card */
.features-main .card > i{
    margin: 10px;
}
.features-main .grid{
    padding: 30px;
}
.features-main .grid > *:first-child{
    /* the first card flex item will span across the grid from column 1 to 3 */
    grid-column: 1 / span 3;
}
.features-main .grid > *:nth-child(2){
    grid-column: 1 / span 2;
}


/* DOCS PAGE */
/* Docs Head */
.docs-head img{
    width: 300px;
    justify-self: flex-end;
}
.docs-main h3{
    margin: 20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    /* This will pick both items in the class and place them at the top(flex-start) along the class's y axis */
    align-items:flex-start ;
}
/* this will create a line(border) at the bottom for each navlink */
.docs-main nav li{
    font-size:17px ;
    padding-bottom: 5px;
    border-bottom: 1px #333 solid;
    margin-bottom: 5px;
}
.docs-main a:hover{
    font-weight: bold;

}

.docs-main .btn-primary{
    margin: 0;
}


/* FOOTER */
.footer a{
    color: #fff;
}
.footer .social a{
    margin: 0 10px; 
}
.footer a:hover{
    border-bottom: 1px #fff solid;
}

/* ANIMATION CSS */
@keyframes slideInFromLeft{
    0%{
        /* The -100% axis will push it from the farthest Left */
        transform: translateX(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes slideInFromRight{
    0%{
        /* The +100% axis will push it from the farthest Right */
        transform: translateX(100%);
    }

    100%{
        transform: translateY(0);
    }
}
@keyframes slideInFromTop{
    0%{
        /* The -100% axis will push it from the top */
        transform: translateY(-100%);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom{
    0%{
        /* The -100% axis will push it from the Bottom */
        transform: translateY(100%);
    }

    100%{
        transform: translateX(0);
    }
}

/* MEDIA QUERIES */
/* For Tablets & Under*/
@media(max-width:800px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,  
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase{
        /* this will let the whole showcase class and its elements take the height of the container */
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form{
        /* justify the position of that specific item  */
        justify-self: center;
        /* margin auto places the item at the center */
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }
    .cli .grid > *:first-child{
        /* the image element will just take 1 column*/
        grid-column: 1;
        /* the image element will just take 1 row */
        grid-row: 1;
    }
    .features-head, 
    .features-sub-head,
    .docs-head{
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img{
        justify-self: center;
    }

    /* the items will show up individually when screen is in tablet-size */
    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2)
    {
        grid-column: 1;
    }

}
/* For Mobile Devices */
@media (max-width:500px){
    .nav-bar{
        /* this will make the menu items be under the logo */
        height:110px ;
    }
    .nav-bar .flex{
        /* This will place the 'Logo' and the 'NavLinks' in a vertical manner */
        flex-direction: column;
    }
    .nav-bar ul{
        padding: 10px;
        /* For a Transparent background */
        background-color: rgb(0, 0, 0, 0.1);
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img{
        grid-column: 1;
    }
    .features-head, 
    .features-sub-head,
    .docs-head{
        text-align: center;
        margin: auto;
    }
}